* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans SC", Arial, Helvetica, sans-serif;
}

*::selection {
    background-color: #60b818;
    color: white;
    filter: saturate(200%); /* Not working anyways */
}

body {
    position: relative;
}

h1, h2, h3, h4, h5 {
    margin-top: 2em;
}

b {
    color: white;
}

a {
    text-decoration: none;
    border-bottom: 2px solid #60b818;
    color: #60b818;
}

a:hover {
    border-bottom: 3px solid #60b818;
    color: #519c14;
}

/* bungee-inline-regular - latin */
@font-face {
    font-family: 'Bungee Inline';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bungee-inline-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Bungee Inline'), local('BungeeInline-Regular'),
        url('../fonts/bungee-inline-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/bungee-inline-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/bungee-inline-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/bungee-inline-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/bungee-inline-v5-latin-regular.svg#BungeeInline') format('svg'); /* Legacy iOS */
}

/* noto-sans-sc-regular - latin_chinese-simplified */
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-sc-v11-latin_chinese-simplified-regular.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans SC Regular'), local('NotoSansSC-Regular'),
        url('../fonts/noto-sans-sc-v11-latin_chinese-simplified-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/noto-sans-sc-v11-latin_chinese-simplified-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/noto-sans-sc-v11-latin_chinese-simplified-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/noto-sans-sc-v11-latin_chinese-simplified-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/noto-sans-sc-v11-latin_chinese-simplified-regular.svg#NotoSansSC') format('svg'); /* Legacy iOS */
}

/* ibm-plex-mono-regular - latin */
@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ibm-plex-mono-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Mono'), local('IBMPlexMono'),
        url('../fonts/ibm-plex-mono-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/ibm-plex-mono-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ibm-plex-mono-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/ibm-plex-mono-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/ibm-plex-mono-v5-latin-regular.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}

html {
    background-color: #333;
    color: #eee;
}

code {
    font-family: "IBM Plex Mono", 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.container-content {
    max-width: 50vw;
    margin-bottom: 3em;
}

@media screen and (max-width: 958px) {
    .container-content {
        max-width: 70vw;
    }  
}

@media screen and (max-width: 780px) {
    .container-content {
        max-width: unset;
        margin: 0 2em 3em;
    }  
}

.top-stripe {
    width: 100%;
    height: 3px;
    background-color: #52a50e;
}

.header {
    font-size: 3em;
    font-weight: 1000;
    text-align: center;
}

.header-img {
    text-align: center;
}

.header-img img {
    width: 128px;
    height: 128px;
}

.exclamation {
    color: #60b818;
    font-weight: 1000;
    filter: drop-shadow(2px 4px 25px #777);
}

.details-container {
    margin-top: 2em;
    text-align: center;
}

.button {
    border: 2px solid #5fad20;
    color: #60b818;
    font-weight: 1000;
    display: inline-block;
    padding: 0.5em 1.0em;
    user-select: none;
    border-radius: 1px;
    text-decoration: none;
}

.button.inactive {
    border: 2px solid #aaaaaa;
    color: #aaaaaa;
    cursor: default;
}

.button:not(.inactive):hover {
    background-color: #5fad20;
    color: #333;
}

.details {
    color: #888;
    margin-top: 3.5em;
}

.accordion {
    margin-top: 5em;
    position: relative;
}

.accordion-header {
    position: inherit;
    border: 1px solid #888;
    padding: 0.5em;
    user-select: none;
    z-index: 0;
}

.accordion-header:hover {
    border: 1px solid #fff;
    color: white;
    z-index: 100;
}

.accordion-header.active, .accordion-header:active {
    border: 1px solid #fff;
    background-color: #fff;
    color: #333;
}

.float-right {
    float: right;
}

.transistable {
    transition: 0.3s all cubic-bezier(1, 0, 0, 1);
}

.rot90 {
    transform: rotate(90deg);
}

.accordion-body {
    max-height: 100em;
    border: 1px solid #fff;
    margin-bottom: -1px;
    position: inherit;
    display: block;
    z-index: 100;
}

.accordion-body.collapsed {
    border: 0;
    max-height: 0;
    overflow: hidden;
}

.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.accordion-content {
    margin: 1em;
}

.vertical-middle {
    display: flex;
    align-items: center;
}

.prizes {
    margin-top: 1em;
}

.prize-item {
    border: 1px solid white;
    padding: 0.5em;
    margin-bottom: -1px;
    user-select: none;
}

.prize-item:hover {
    background-color: #ffffff11;
}

.prize-item:active {
    background-color: #fff;
    color: #333;
}

.prize-item:active img {
    filter: invert(100%);
}

.time-node {
    width: 26px;
    height: 26px;
    background-color: #50b43c;
    border-radius: 100%;
}

.timestamp {
    display: flex;
    align-items: center;
    justify-content: start;
}

.time {
    margin-left: 0.5em;
    color: #eee;
}

.line {
    border-left: 1px solid #268513;
    margin-left: 13px;
    padding-left: 13px;
    color: #eee;
    padding-bottom: 1em;
}

.line:last-of-type {
    border-left: 1px dashed #268513;
    border-bottom: 1px dashed #268513;
    border-bottom-left-radius: 5px;
}

.copy {
    margin-top: 20px;
    font-size: 0.7em;
}
